/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #4b6cb7, #182848);
}

/* Login Container */
.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
    color: white;
}

.header h2 {
    margin-bottom: 20px;
  
}

/* Form Styling */
.login-form table {
    width: 100%;
}

.login-form label {
    font-weight: bold;
}

.login-form input {
    background: oldlace;
    width: 150%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.login-form input:focus {
    background: rgba(255, 255, 255, 0.2);
}

/* Buttons Styling */
.login-button{
    background: green;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    width: 50%;
    display: inline-block;
    text-align: Center;
    margin-top: 20px;
}

.forget-password-button {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.login-button:hover, .forget-password-button:hover {
    background: black;
}

/* Button Container to Align Buttons */
.button-container {
    display: flex;
    gap: 10px;
}

/* Responsive Design */
@media (max-width: 400px) {
    .login-container {
        width: 90%;
    }
}
